<div class="main-body container">
  <div class="row tag-nav text-center my-3 mx-0">
    <div
      class="col-lg-3  d-flex flex-row align-items-center justify-content-center"
      [ngClass]="{ 'tag-active': isTagActive == 1, tag: isTagActive != 1 }"
    >
      <p class="my-0">CHOOSE ROUTE</p>
    </div>
    <div
      class="col-lg-3  d-flex flex-row align-items-center justify-content-center"
      [ngClass]="{ 'tag-active': isTagActive == 2, tag: isTagActive != 2 }"
    >
      <p class="my-0">CHOOSE SEATS</p>
    </div>
    <div
      class="col-lg-3  d-flex flex-row align-items-center justify-content-center"
      [ngClass]="{ 'tag-active': isTagActive == 3, tag: isTagActive != 3 }"
    >
      <p class="my-0">CUSTOMER INFOMATION</p>
    </div>
    <div
      class="col-lg-3 d-flex flex-row align-items-center justify-content-center"
      [ngClass]="{ 'tag-active': isTagActive == 4, tag: isTagActive != 4 }"
    >
      <p class="my-0">PAYMENT</p>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
