
    <div class="row mb-4">
      <h1>Social</h1>
    </div>
    <div class="row">
      <button class="btn-social-facebook py-auto col-md-11 col-lg-8 col-xl-7  col-12" style="white-space: normal !important;"><img class="mb-1 mr-2" src="assets/images/social/facebook.svg" alt="facebook login button">Login with Facebook</button>
    </div>
    <div class="row my-3">
        <button class="btn-social-google py-auto col-md-11 col-lg-8 col-xl-7 col-12"><img class=" mr-2" src="assets/images/social/google.svg" alt="google login button">Login with Google</button>
    </div>
    <div class="row mt-5">
      <p>We will keep your personal information private.</p>
    </div>
    <div class="row">
      <p>Nothing is shared without your consent.</p>
    </div>
    <div class="row">
      <p>Enjoy faster login.</p>
    </div>

