<div class="dialog-container">
  <div mat-dialog-content>
    <div class="row">
      <form class="col-md-6 col-12 px-5">
        <div class="row input-form-container">
          <h1 class="mb-4">Sign In</h1>
        </div>
        <div class="row input-form-container">
          <mat-form-field>
            <input matInput placeholder="Email" type="email">
          </mat-form-field>
        </div>
        <div class="row input-form-container">
          <mat-form-field>
            <input matInput placeholder="Password" type="password">
          </mat-form-field>
        </div>
        <div class="row input-form-container mt-2 mb-4">
          <div class="col-md-12 col-12 col-sm-5 px-0">
            <mat-checkbox>Remember me!</mat-checkbox>
          </div>
          <div class="col-md-12 col-12 col-sm-7 px-0">
            <a href="#!">Forgot your Password ?</a>
          </div>
        </div>
        <div class="row input-form-container">
          <div class="col-md-6 col-sm-12 px-0">
            <button class="btn btn-success py-2 d-flex flex-row justify-content-center align-items-center">Sign In <mat-icon class="ml-2">exit_to_app</mat-icon></button>
          </div>
        </div>
        <div class="row input-form-container mt-3 px-0">
          <div class="col-md-8 col-5 px-0">
            <p>Don't have account ?</p>
          </div>
          <div class="col-md-4 col-3 px-0">
              <a href="javascript:void(0);" (click)="openSignupDialog()" class="sign-up-link">SIGN UP</a>
          </div>
        </div>
      </form>
      <app-social-dialog-content class="col-md-6 col-12 socical-comp px-5"></app-social-dialog-content>
    </div>
  </div>
</div>
