.main-body {
  background: url("/assets/images/form/form-background.jpg");
  color: #444;
  .form-container {
    .input-form-container > * {
      width: 100%;
      text-align: center;
      font-size: 1.8em;
      font-weight: 550;
    }
    .radio-section {
      border: 2px solid rgba(255, 255, 255, 0.7);
    }
    .place-section {
      border-right: 2px solid rgba(255, 255, 255, 0.7);
      border-bottom: 2px solid rgba(255, 255, 255, 0.7);
      border-left: 2px solid rgba(255, 255, 255, 0.7);
    }
    .from-icon {
      color: #444;
    }
    .to-icon {
      color: #444;
    }
    .calendar-icon {
      color: #18aa4f;
    }
    .date-picker-section {
      border-right: 2px solid rgba(255, 255, 255, 0.7);
      border-bottom: 2px solid rgba(255, 255, 255, 0.7);
      border-left: 2px solid rgba(255, 255, 255, 0.7);
      .date-picker-depart {
        border-right: 2px solid rgba(255, 255, 255, 0.7);
      }
    }
    form {
      background: rgba(255, 255, 255, 0.6);
      .rotate-icon {
        color: #18aa4f;
        font-size: 2.5em;
      }
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }

    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #444;
      font-size: 1.1em;
    }

    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 2px solid #444;
      border-radius: 100%;
      background: transparent;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
      content: "";
      width: 10px;
      height: 10px;
      background: #18aa4f;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    [type="radio"]:checked + label:before {
      border: 2px solid #18aa4f;
    }
  }
}
.member-card {
  box-shadow: none;
  border: 1px solid #ececec;
  height: 100%;
}
.benefit-card {
  box-shadow: none;
  .content {
    h6 {
      font-weight: 550;
    }
  }
}

/deep/ .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #18aa4f;
}

/deep/ .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #18aa4f;
}
/deep/ .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(24, 170, 79, 0.26) !important;
}
/deep/ .my-snack {
  background-color: white;
  color: #ef233c;
}
/deep/ .my-snack .mat-simple-snackbar-action {
  color: #18aa4f;
}

@media only screen and (max-width: 576px) {
  .input-from {
    padding-bottom: none;
  }
  .input-to {


  }
  .button-rotate {
    margin: 2% auto 10% auto;
  }
}
@media only screen and (max-width: 769px) {
  .input-from {
    padding-bottom: none;
  }
  .input-to {


  }
  .button-rotate {
    margin: 0 auto 7% auto;
  }
}
