<div class="main-body">
  <div class="form-container ">
    <div class="row justify-content-center">
      <form [formGroup]="busRoutes" (ngSubmit)="onSubmit(busRoutes)" class="col-md-8 my-5">
        <div class="row radio-section justify-content-end">
            <mat-radio-group formControlName="type" class="radio-container col-md-6 col-xl-5 row">
                <div class="col-md-6 col-sm-5 col-5">
                  <mat-radio-button  class="my-3" value="1" id="oneWay" checked>One Way</mat-radio-button>
                </div>
                <div class="col-md-6 col-sm-5 col-5">
                  <mat-radio-button class="my-3" value="2" id="twoWay">Two Way</mat-radio-button>
                </div>
              </mat-radio-group>
        </div>
        <div formGroupName="places" class="row pt-3 place-section">
          <div class="col-lg-5 col-md-12 col-12 input-from">
            <div class="row justify-content-center">
              <label class="from-icon">
                  <mat-icon>place</mat-icon>
                   From
              </label>
            </div>
            <div class="row justify-content-center input-form-container">
              <mat-form-field floatLabel="never">
                  <input formControlName="from" type="text" id="inputFrom" #inputFrom (click)="clearInputFrom()" placeholder="Hồ Chí Minh (SNG)" matInput [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" #fromList>
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 col-12 button-rotate d-flex flex-row justify-content-center align-items-center">
            <mat-icon class="rotate-icon" (click)="rotateFromTo()">autorenew</mat-icon>
          </div>
          <div class="col-lg-5 col-md-12 col-12 input-to">
              <div class="row justify-content-center">
                  <label class="to-icon">
                      <mat-icon>place</mat-icon>
                       To
                  </label>
                </div>
                <div class="row justify-content-center input-form-container">
                  <mat-form-field floatLabel="never"  class="">
                      <input formControlName="to" type="text" id="inputTo" #inputTo (click)="clearInputTo()" placeholder="Hà Nội (HN)" matInput  [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete" #toList>
                        <mat-option *ngFor="let option of filteredOptionsTo | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </div>
          </div>
        </div>
        <div formGroupName="date" class="row date-picker-section">
          <div class="col-lg-6 col-md-12 date-picker-depart py-3 d-flex justify-content-around">
              <label for="" class="align-self-center m-0">Departure Date</label>
              <mat-form-field>
                  <input
                  formControlName="departure"
                  matInput [matDatepickerFilter]="myFilter"
                   [matDatepicker]="picker"
                   [formControl]="dateControl"
                   (dateChange)="getDateChange($event)"
                   placeholder="Choose a date"
                   disabled
                   >
                  <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>
                <mat-icon class="align-self-center calendar-icon" (click)="picker.open()">calendar_today</mat-icon>
          </div>
          <div class="col-lg-6 col-md-12 date-picker-depart py-3 d-flex justify-content-around">
              <label for="" class="align-self-center m-0">Return Date</label>
              <mat-form-field>
                  <input
                  formControlName="_return"
                  matInput [matDatepickerFilter]="myFilter2"
                  [matDatepicker]="picker2"
                  [formControl]="dateControlReturn"
                  placeholder="Choose a date"
                  disabled
                  >
                  <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                </mat-form-field>
                <mat-icon class="align-self-center calendar-icon" (click)="picker2.open()">calendar_today</mat-icon>
          </div>
        </div>
        <div class="row submit-button justify-content-center">
          <button type="submit" class="col-md-3 py-3 btn btn-success my-3 d-flex flex-row justify-content-center align-items-center">
            <mat-icon>search</mat-icon>
            FIND BUS</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="middle-body  row d-flex flex-row justify-content-center">
    <div class="col-md-3 col-12 my-5">
          <mat-card class="benefit-card d-flex flex-row justify-content-center align-items-center">
              <img class="mr-3" src="assets/images/commitment/selling-point.svg" alt="selling point" width="43px" height="43px">
              <div class="content">
                <h6>CHEAP PRICE COMMITMENTS</h6>
                <p class="m-0">Best price for domestic trips</p>
              </div>
          </mat-card>
    </div>
    <div class="col-md-3 col-12 my-5">
        <mat-card class="benefit-card d-flex flex-row justify-content-center align-items-center">
        <img class="mr-3" src="assets/images/commitment/support-24.svg" alt="selling point" width="43px" height="43px">
        <div class="content">
          <h6>BEST CUSTOMER SERVICE</h6>
          <p class="m-0">Call center support & customer
              care 24/7</p>
        </div>
        </mat-card>
      </div>
      <div class="col-md-3 col-12 my-5">
          <mat-card class="benefit-card d-flex flex-row justify-content-center align-items-center">
          <img class="mr-3" src="assets/images/commitment/tax.svg" alt="selling point" width="43px" height="43px">
          <div class="content">
            <h6>VAT INVOICE EXPORT</h6>
            <p class="m-0">Export VAT invoices for all
                transaction orders.</p>
          </div>
          </mat-card>
        </div>
  </div>
  <div class="bottom-body d-flex flex-column align-items-center">
    <h3>MEMBER BENEFITS</h3>
    <div class="row d-flex flex-row justify-content-center">
      <div class="col-md-3 col-12 my-5">
        <mat-card class="member-card d-flex flex-column align-items-center">
          <h5>Best Price</h5>
          <img
            class="my-4"
            src="assets/images/member-benefit/good-price.svg"
            alt="good price for member"
          />
          <p>
            Use the service of Busy.com with the best price in the market.
          </p>
        </mat-card>
      </div>
      <div class="col-md-3 col-12 my-5">
        <mat-card class="member-card d-flex flex-column align-items-center">
          <h5>Attractive offers</h5>
          <img
            class="my-4"
            src="assets/images/member-benefit/member-point.svg"
            alt="good price for member"
          />
          <p>
            Enjoy attractive offers from Tourism / Hotel / Bank partners.
          </p>
        </mat-card>
      </div>
      <div class="col-md-3 col-12 my-5">
        <mat-card class="member-card d-flex flex-column align-items-center">
          <h5>Accumulated points</h5>
          <img
            class="my-4"
            src="assets/images/member-benefit/uu-dai.svg"
            alt="good price for member"
          />
          <p>
            Each transaction will accumulate points, upgrade members with many
            incentives.
          </p>
        </mat-card>
      </div>
    </div>
  </div>
</div>
