<div class="container-fluid">
  <div class="middle-body  row d-flex flex-row justify-content-center">
    <div class="col-md-3 col-12 my-5">
          <mat-card class="benefit-card d-flex flex-row justify-content-center align-items-center">
              <img class="mr-3" src="assets/images/commitment/selling-point.svg" alt="selling point" width="43px" height="43px">
              <div class="content">
                <h6>CHEAP PRICE COMMITMENTS</h6>
                <p class="m-0">Best price for domestic trips</p>
              </div>
          </mat-card>
    </div>
    <div class="col-md-3 col-12 my-5">
        <mat-card class="benefit-card d-flex flex-row justify-content-center align-items-center">
        <img class="mr-3" src="assets/images/commitment/support-24.svg" alt="selling point" width="43px" height="43px">
        <div class="content">
          <h6>BEST CUSTOMER SERVICE</h6>
          <p class="m-0">Call center support & customer
              care 24/7</p>
        </div>
        </mat-card>
      </div>
      <div class="col-md-3 col-12 my-5">
          <mat-card class="benefit-card d-flex flex-row justify-content-center align-items-center">
          <img class="mr-3" src="assets/images/commitment/tax.svg" alt="selling point" width="43px" height="43px">
          <div class="content">
            <h6>VAT INVOICE EXPORT</h6>
            <p class="m-0">Export VAT invoices for all
                transaction orders.</p>
          </div>
          </mat-card>
        </div>
  </div>
  <div class="bottom-body d-flex flex-column align-items-center">
    <h3>MEMBER BENEFITS</h3>
    <div class="row d-flex flex-row justify-content-center">
      <div class="col-md-3 col-12 my-5">
        <mat-card class="member-card d-flex flex-column align-items-center">
          <h5>Best Price</h5>
          <img
            class="my-4"
            src="assets/images/member-benefit/good-price.svg"
            alt="good price for member"
          />
          <p>
            Use the service of Busy.com with the best price in the market.
          </p>
        </mat-card>
      </div>
      <div class="col-md-3 col-12 my-5">
        <mat-card class="member-card d-flex flex-column align-items-center">
          <h5>Attractive offers</h5>
          <img
            class="my-4"
            src="assets/images/member-benefit/member-point.svg"
            alt="good price for member"
          />
          <p>
            Enjoy attractive offers from Tourism / Hotel / Bank partners.
          </p>
        </mat-card>
      </div>
      <div class="col-md-3 col-12 my-5">
        <mat-card class="member-card d-flex flex-column align-items-center">
          <h5>Accumulated points</h5>
          <img
            class="my-4"
            src="assets/images/member-benefit/uu-dai.svg"
            alt="good price for member"
          />
          <p>
            Each transaction will accumulate points, upgrade members with many
            incentives.
          </p>
        </mat-card>
      </div>
    </div>
  </div>
</div>
