$main_green: #18aa4f;
$main_grey: #D7D7D7;
$second_grey: #ccc;
.bus-form-container {
  border: 1px solid $main_grey;
  padding: 2%;
}
.bus-form {
  width: 100%;
}
.full-field {
  width: 100%;
}
.button-green {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  width: 80%;
  height: 80%;
  text-decoration: none;
  background: $main_green;
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

button:hover,
button:focus {
  background: rgb(04,200,89);
}
