<div class="container">
    <div class="row mt-3 bus-form-container">
        <form class="bus-form">
          <div class="row justify-content-between">
              <div class="col-lg-2">
                  <mat-form-field class="full-field">
                      <input type="text" placeholder="Departure Place" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of options" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
              </div>
              <div class="col-lg-2">
                  <mat-form-field class="full-field">
                      <input type="text" placeholder="Return Date" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of options" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
              </div>
              <div class="col-lg-2">
                  <mat-form-field>
                      <input matInput [matDatepicker]="picker" placeholder="Daparture Date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

              </div>
              <div class="col-lg-2">
                  <mat-form-field>
                      <input matInput [matDatepicker]="picker2" placeholder="Return Date">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>

              </div>
              <div class="col-lg-2 d-flex flex-row justify-content-center align-items-center">
                <button class="button-green d-flex flex-row justify-content-center align-items-center"><mat-icon>search</mat-icon> Bus</button>
              </div>
          </div>
          </form>
    </div>
</div>
