<footer>
  <div class="bottom-footer py-4">
  <div class="container">
      <div class="row d-flex flex-row justify-content-around">
        <ul class="col-sm-4 py-0 col-12">
          <li class="list-title">PRODUCTS</li>
          <li>Home</li>
          <li class="text-left">Trips</li>
          <li>Discount</li>
          <li>Info</li>
          <li>Jobs</li>
        </ul>
        <ul class="col-sm-4 col-12">
          <li class="list-title">CUSTOMER SERVICE 24/7</li>
          <li class="li-phone d-flex flex-row align-items-center">
            <mat-icon class="mr-1">phone</mat-icon>
            <span>1900-9999</span>
          </li>
          <li>(099) 99 999 999</li>
          <li>(099) 99 999 999</li>
          <li class="d-flex flex-row align-items-center li-contact">
            <mat-icon class="mr-1">mail</mat-icon>
            <a href="#!" class="my-auto">contact@busy.com</a>
          </li>
        </ul>
        <ul class="col-sm-4 col-12">
          <li class="list-title">PAYMENT</li>
          <li>
            <img
              src="assets/images/payment/visa.png"
              alt="visa logo"
              class="img-fluid"
            />
            <img
              src="assets/images/payment/master-card.png"
              alt="visa logo"
              class="img-fluid"
            />
            <img
              src="assets/images/payment/bank.png"
              alt="visa logo"
              class="img-fluid"
            />
          </li>
          <li class="list-title">Safe</li>
          <li class="d-flex flex-row flex-wrap">
              <img
                src="assets/images/safety/bocongthuong.png"
                alt="visa logo"
                height="32px"
                class="mx-2"
              />
              <img
                src="assets/images/safety/verify.png"
                alt="visa logo"
                height="32px"
                class="mx-2"
              />
              <img
                src="assets/images/safety/secure.jpeg"
                alt="visa logo"
                height="32px"
                class="mx-2"
              />
            </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright container-fluid">
    <div class="row">
      <p class="m-auto py-3">Copyright © 2019 Busy. All rights reserved</p>
    </div>
  </div>
</footer>
